.expenses_item{
    display:flex;
    border: 2px solid black;
    background-color: rgb(146, 137, 137);
    border-radius: 20px;
    width:50rem;
    height:100px;
    align-items:center;
    justify-content: space-around;
    margin:1rem;
}


.expenses_item__description{
    flex:1;
    color: white;
    border-radius: 5px;
    font-size: 2.5rem;
    margin: 15px;
}

.expenses_item__amount{
    background-color: purple;
    flex-basis: 110px;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-right: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:840px){
    .expenses_item{
        width:95vw;
    }
}