.expenses_item{
    display:flex;
    border: 2px solid black;
    background-color: rgb(146, 137, 137);
    border-radius: 20px;
    width:800px;
    height:100px;
    align-items:center;
    justify-content: space-around;
}

.expenses_item__date{
    flex-basis: 80px;
    border: 2px solid white;
    background-color: rgb(75, 69, 69);
    border-radius: 10px;
    height: 80px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.expenses_item__description{
    flex:1;
    color: white;
    border-radius: 5px;
    font-size: 2.5rem;
    margin: 15px;
}

.expenses_item__amount{
    background-color: purple;
    flex-basis: 110px;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-right: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}